body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  padding: 0;
  box-sizing: border-box;
}

.card {
  max-width: 1200px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 450px auto;
  grid-template-areas:
    "image"
    "main-banner";
  margin: 3rem auto;
  justify-content: center;
}

.image-card {
  display: flex;
  width: 100%;

  grid-area: image;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.main-banner {
  grid-area: main-banner;
}

.title {
  position: relative;
  width: calc(100% - 80px);
  margin: -3rem auto 0;
  background: white;
  padding: 3px;
  border: 3px solid #c73d67;
}
.title:before {
  position: absolute;
  content: "";
  width: calc(100% - 6px);
  height: 93%;
  background: #c73d67;
  left: 3px;
}

.title h1 {
  position: relative;
  width: 100%;
  padding: 10px;
  color: white;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: lighter;
  font-size: 1.5rem;
}

.category-row {
  display: flex;
  flex-direction: row;
  margin: 1rem auto;
  width: calc(100% - 80px);
  text-align: center;
}
.smaller {
  font-size: 1rem;
  font-weight: lighter;
  text-transform: uppercase;
  color: black;
}
h3 {
  padding-right: 1.5rem;
  color: #c73d67;
}

.source {
  text-align: left;
  margin: 0 auto 2rem;
  width: calc(100% - 80px);
}

.recipe {
  display: grid;
  grid-template-columns: 1fr 2.2fr;
  width: calc(100% - 80px);
  margin: 1rem auto 3rem;
}

.recipe h3 {
  text-transform: uppercase;
  font-weight: 300;
}

.method,
.ingredients,
.list {
  text-align: left;
  padding: 1.5rem;
  font-size: 1.2rem;
  
}
.ingredients {
  padding-left: 0;
  line-height: 1.5;
 
}

.list {
  font-size: 1rem;
  line-height: 1.5;
}
.measure {
  font-weight: 300;
  color: #c73d67;
  padding-right: 0.5rem;
}
.description {
  padding-right: 1.5rem;
}

@media screen and (max-width: 860px) {
  
  .recipe {
    grid-template-rows: 1fr auto;
    grid-template-columns: 1fr;
    margin: 0 auto;
    width: 100%;
    
  }
  .method {
    padding: 0;
    padding-left: 0.5rem;
    font-size: 1rem;
    text-align: justify;
  }
  .ingredients {
    padding-right: 0;
  }
  .title h1 {
    font-size: 1.1rem;
  }
  .source {
    margin: 0;
    padding-top: 1rem;
  }
}
